@charset "utf-8";
@import url('reset.css');
@import url('iconos.css');
@import url('https://fonts.googleapis.com/css?family=Lemonada&display=swap');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two&display=swap');
@import url('banner.css');
@import url('buscador.css');
@import url('menu.css');
@import url('modal.css');
@import url('destacados.css');
@import url('slider.css');
@import url('modalImg.css');
@import url('menuUser.css');
@import url('tabla.css');
@import url('formularios.css');
@import url('modalLibro.css');
@import url('calificaciones.css');
@import url('chat.css');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

:root {
	--colorChat:rgb(196,145,193);
	--colorPagina: rgb(138, 74, 135);
	--colorTexto: #77837F;
	--colorFooter: rgba(138, 74, 135, .8);
	--colorBotonHover: rgba(138, 74, 135, .5);
	--colorBlanco: white;
	--menuUser: rgba(241, 231, 240, .8);
}

body {
	font-family: 'Lemonada', cursive;
}

header {
	width: 100%;
	height: 80px;
	background: var(--colorPagina);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

main {
	display: flex;
	top: 0;
	position: relative;
	width: 100%;
}

h2 {
	color: var(--colorTexto);
}

header h1 {
	font-family: 'Shadows Into Light Two', cursive;
	float: left;
	margin-right: 10px;
}

h1>a,
#links>a,
header,
footer {
	color: var(--colorBlanco);
}

header .contenedor {
	display: table;
}

aside,
section {
	width: 100%;
	margin-bottom: 10px;
}

footer {
	position: static;
	background: var(--colorFooter);
	width: 100%;
}

footer .contenedor {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 25px 0;
}

#links {
	font-size: 9px;
	width: 100%;
	text-align: center;
}

.copy {
	font-size: 12px;
	padding-top: 10px;
}

.centrar {
	text-align: center;
}

.contenedor {
	width: 98%;
	margin: auto;
}

.cajaFeom {
	background: #0C9;
	padding: .5em;
}

@media(min-width:1024px) {
	.contenedor {
		width: 1000px;
	}
	header {
		height: 115px;
	}
	
}
