{% extends "plantilla2.html" %}
   {%block contentido2%}

<div id="caja-contenedora">
            <div class="menu-bar" onClick="menuBar()"> &#x2611; </div>

            <!-- ................................................Empieza tabla................................................. -->

            <div class="tabla">
                <h2>Chat</h2>

                <div id="chatContenedor">
                    <div id="buscador-contenedor">
                        <input title="text" placeholder="buscador" />
                    </div>
                    <div id="charla-lista">
                        <div class="conversar active">
                            <img src="../static/_img/usuarios/rodrigo.jpg" alt="Rodrigo" />
                            <div class="titulo_texto">Rodrigo

                            </div>

                            <div class="crear_fecha">27/03/2020</div>
                            <div class="charla">Hola que tal, estoy interesado en ese libro que tenes
                            </div>
                        </div>
                        <div class="conversar ">
                            <img src="../static/_img/usuarios/lorena.jpg" alt="Lorena" />
                            <div class="titulo_texto">Lorena

                            </div>

                            <div class="crear_fecha">23/02/2020</div>
                            <div class="charla">Hola Erdam, me gustaría un libro que tenés
                            </div>
                        </div>
                        <div class="conversar ">
                            <img src="../static/_img/usuarios/erika.jpg" alt="Erika" />
                            <div class="titulo_texto">Erika

                            </div>

                            <div class="crear_fecha">25/12/2019</div>
                            <div class="charla">Hola Erdam, el libro de Crónicas Marcianas ¿está bien o es la foto?
                            </div>
                        </div>
                        <div class="conversar ">
                            <img src="../static/_img/usuarios/valentina.jpg" alt="Valentina" />
                            <div class="titulo_texto">Valentina

                            </div>

                            <div class="crear_fecha">24/12/2019</div>
                            <div class="charla">Erdam, el libro no me llegó aún ..
                            </div>
                        </div>
                        <div class="conversar ">
                            <img src="../static/_img/usuarios/valentina.jpg" alt="Valentina" />
                            <div class="titulo_texto">Valentina

                            </div>

                            <div class="crear_fecha">1/12/2019</div>
                            <div class="charla">Mandalo por correo a la dirección de mi madre en ...
                            </div>
                        </div>
                        <div class="conversar ">
                            <img src="../static/_img/usuarios/rodrigo.jpg" alt="Rodrigo" />
                            <div class="titulo_texto">Rodrigo

                            </div>

                            <div class="crear_fecha">15/11/2019</div>
                            <div class="charla">Erdam, tengo una problema con el libro que me haz mandado
                            </div>
                        </div>
                        <div class="conversar ">
                            <img src="../static/_img/usuarios/rodrigo.jpg" alt="Rodrigo" />
                            <div class="titulo_texto">Rodrigo

                            </div>

                            <div class="crear_fecha">14/11/2019</div>
                            <div class="charla">hola !!!!
                            </div>
                        </div>
                        <div class="conversar ">
                            <img src="../static/_img/usuarios/erika.jpg" alt="Erika" />
                            <div class="titulo_texto">Erika

                            </div>

                            <div class="crear_fecha">25/10/2019</div>
                            <div class="charla">Hola Erdam, me encantó el libro que me mandaste, es genial!!! :)
                            </div>
                        </div>

                    </div>
                    <div id="mensaje-nuevo">
                        <a href="#">+</a>

                    </div>
                    <div id="chat-titulo">
                        <span>Rodrigo</span>
                        <img src="../static/_img/iconos/icon-basura.webp" alt="borrar convarsación" />
                    </div>
                    <div id="chat-mensaje">
                        <div class="mensaje-fila otro_mensaje">
                            <div class="mensaje-contenedor">
                                <img src="../static/_img/usuarios/rodrigo.jpg" alt="Rodrigo" />
                                <div class="mensaje">Erdam, tengo una problema con el libro que me haz mandado</div>
                                <div class="mensaje_fecha">15/10/2019</div>
                            </div>
                        </div>
                        <div class="mensaje-fila otro_mensaje">
                            <div class="mensaje-contenedor">
                                <img src="../static/_img/usuarios/rodrigo.jpg" alt="Rodrigo" />
                                <div class="mensaje">hola !!!!</div>
                                <div class="mensaje_fecha">14/10/2019</div>
                            </div>
                        </div>
                        <div class="mensaje-fila mi_mensaje">
                            <div class="mensaje-contenedor">
                                <div class="mensaje">dale!! gracias Rodrigo</div>
                                <div class="mensaje_fecha">25/03/2020</div>
                            </div>
                        </div>
                        <div class="mensaje-fila otro_mensaje">
                            <div class="mensaje-contenedor">
                                <img src="../static/_img/usuarios/rodrigo.jpg" alt="Rodrigo" />
                                <div class="mensaje">ok,mis datos estan en mi perfil yo ya estoy enviando el tuyo</div>
                                <div class="mensaje_fecha">11/10/2019</div>
                            </div>
                        </div>
                        <div class="mensaje-fila  mi_mensaje">
                            <div class="mensaje-contenedor">
                                <div class="mensaje mi_mensaje">te parece por correo</div>
                                <div class="mensaje_fecha">11/10/2019</div>
                            </div>
                        </div>
                        <div class="mensaje-fila otro_mensaje">
                            <div class="mensaje-contenedor">
                                <img src="../static/_img/usuarios/rodrigo.jpg" alt="Rodrigo" />
                                <div class="mensaje">si, cómo hacemos para intercambiar los libros</div>
                                <div class="mensaje_fecha">11/10/2019</div>
                            </div>
                        </div>
                        <div class="mensaje-fila mi_mensaje">
                            <div class="mensaje-contenedor">
                                <div class="mensaje">Hola Rodrigo, veo que hemos coincidido </div>
                                <div class="mensaje_fecha">11/10/2019</div>
                            </div>
                        </div>
                        <div class="mensaje-fila otro_mensaje">
                            <div class="mensaje-contenedor">
                                <img src="../static/_img/usuarios/rodrigo.jpg" alt="Rodrigo" />
                                <div class="mensaje">Hola Erdam!</div>
                                <div class="mensaje_fecha">11/10/2019</div>
                            </div>
                        </div>
                    </div>
                    <div id="chat-form">
                        <img src="../static/_img/iconos/clip.png" alt="ajuntar archivo" />
                        <input title="text" placeholder="Escriba su mensaje" />
                    </div>

                </div>

            </div>
            <!--.........................................Termina tabla........................................................ -->

        </div>

 {%endblock contentido2%}